################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NHibernateWebForm/.vs
/NHibernateWebForm/NHibernateWebForm/bin
/NHibernateWebForm/NHibernateWebForm/obj
/NHibernateWebForm/packages
